<a href="https://colab.research.google.com/github/chiroiu96/ARL_Banking_Product_Recommender/blob/main/ARL_Banking_Product_Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

#Read Ratings DataFrame

In [13]:
df1 = pd.read_csv('https://raw.githubusercontent.com/chiroiu96/ARL_Banking_Product_Recommender/main/train_ARL_1.csv', sep=',')
df2 = pd.read_csv('https://raw.githubusercontent.com/chiroiu96/ARL_Banking_Product_Recommender/main/train_ARL_2.csv', sep=',')
df = df1.append(df2, ignore_index=True)
df.head(10)

   SAVING_ACC  GUARANTEES  CURRENT_ACC  ...  HOME_ACC  PAYROLL  DIRECT_DEBIT
0           0           0           17  ...         0        0             0
1           0           0            0  ...         0       17            17
2           0           0            1  ...         0        0             0
3           0           0           12  ...         0        0            17
4           0           0            0  ...         0        0             0
5           0           0           17  ...         0       17            17
6           0           0           17  ...         0        0            17
7           0           0            8  ...         0        0             0
8           0           0           14  ...         0        0            17
9           0           0            0  ...         0        0             0

[10 rows x 22 columns]

#Binary Encoding of dataframe

In [14]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
df = df.applymap(encode_units)

#Binary dataframe sample

In [15]:
df.head()

   SAVING_ACC  GUARANTEES  CURRENT_ACC  ...  HOME_ACC  PAYROLL  DIRECT_DEBIT
0           0           0            1  ...         0        0             0
1           0           0            0  ...         0        1             1
2           0           0            1  ...         0        0             0
3           0           0            1  ...         0        0             1
4           0           0            0  ...         0        0             0

[5 rows x 22 columns]

#Support, Confidence, Lift


  <tr>
    <td rowspan="3"><img src="https://raw.githubusercontent.com/chiroiu96/ARL_Banking_Product_Recommender/main/Apriori_Transactions.JPG" ></td>
    <td>
      <img src="https://raw.githubusercontent.com/chiroiu96/ARL_Banking_Product_Recommender/main/Apriori_Support.JPG" >
    </td>
  </tr>
  <tr>
    <td>
      <img src="https://raw.githubusercontent.com/chiroiu96/ARL_Banking_Product_Recommender/main/Apriori_Confidence.JPG" >
    </td>
  </tr>
  <tr>
    <td>
      <img src="https://raw.githubusercontent.com/chiroiu96/ARL_Banking_Product_Recommender/main/Apriori_Lift.JPG" >
    </td>
  </tr>

#Generation of most frequent items

In [16]:
frequent_itemsets = apriori(df, min_support=0.05, use_colnames=True)

#Generation of association rules

In [17]:
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)
rules.head()

        antecedents       consequents  ...  leverage  conviction
0  (PARTICULAR_ACC)     (CURRENT_ACC)  ...  0.004809    1.138664
1     (CURRENT_ACC)  (PARTICULAR_ACC)  ...  0.004809    1.008403
2           (E_ACC)     (CURRENT_ACC)  ...  0.000134    1.004483
3     (CURRENT_ACC)           (E_ACC)  ...  0.000134    1.000225
4     (CURRENT_ACC)    (DIRECT_DEBIT)  ...  0.014837    1.028056

[5 rows x 9 columns]

#Choosing the rules with high impact
We are interested in rules:


*   Have a support as hight as possible (value depende on number of items)
*   Have a confidence close to 1
*   Have a lift higher then 1 (positive correlation)

In [19]:
rules[ (rules['lift'] >= 6) &
      (rules['confidence'] >= 0.8) ]

                    antecedents     consequents  ...  leverage  conviction
6                     (PAYROLL)   (PAYROLL_ACC)  ...  0.064394   25.809773
10                    (PAYROLL)  (DIRECT_DEBIT)  ...  0.048166    4.623029
12       (PAYROLL, PAYROLL_ACC)  (DIRECT_DEBIT)  ...  0.046972    4.812955
13      (PAYROLL, DIRECT_DEBIT)   (PAYROLL_ACC)  ...  0.053260   33.871699
14  (DIRECT_DEBIT, PAYROLL_ACC)       (PAYROLL)  ...  0.053392    5.241247

[5 rows x 9 columns]